@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);

html{
	font-family: 'Lato', sans-serif;
	font-weight: 100 !important;
}

html, body{
	padding: 0;
	margin: 0;
}

.header-component{
	text-align: center;
	background: black;
	width: 100%;
	display: block;
	color: white;
	padding: 20px;
}

.header-component form{
	padding: 0;
	margin: 10px;
}